<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wearwatchface">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault">
        
        <!-- Main watch face service -->
        <service
            android:name=".WatchFaceService"
            android:label="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/default_bg" />
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfiguration"
                android:resource="@xml/watch_face_config" />
        </service>
    </application>
</manifest>
